@{
    ViewData["Title"] = "Page Not Found";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <style>
        body {
            background-color: rgba(215, 237, 255, 1);
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            text-align: center;
        }

        .logo {
            font-size: 40px;
            color: #1e90ff;
            margin-bottom: 20px;
        }

        .logo img {
            vertical-align: middle;
            width: 150px;
            height: 150px;
        }

        .error-code {
            font-size: 220px;
            color: #1e90ff;
            font-weight: bold;
            margin: 0;
        }

        .error-message {
            font-size: 48px;
            color: #333;
            margin-top: 10px;
        }

        .sub-message {
            font-size: 32px;
            color: #666;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="error-code">403</div>
    <div class="error-message">Access Denied</div>
    <div class="sub-message">Oops, you don't have permission to access this page.</div>
    <button>
         <a asp-controller="Blog" class="btn btn-primary" asp-action="Blog">Back</a>
         </button>
</body>

</html>

